In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Data Import
df = pd.read_csv('/content/diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [19]:
#Create Hospitals Readmissions Data
hospitals_readmissions = df[['age','time_in_hospital','num_procedures','num_lab_procedures','num_medications','number_outpatient','number_inpatient','number_emergency','medical_specialty','diag_1','diag_2','diag_3','max_glu_serum','A1Cresult','change','diabetesMed','readmitted']]
hospitals_readmissions.head()

hospitals_readmissions = hospitals_readmissions.rename(mapper={'age':'age','time_in_hospital':'time_in_hospital','num_procedures':'n_procedures','num_lab_procedures':'n_lab_procedures';'num_medications':'n_medications','number_outpatient':'n_outpatient','number_inpatient':'n_inpatient','number_emergency':'n_emergency','medical_specialty':'medical_specialty','diag_1':'diag_1','diag_2':'diag_2','diag_3':'diag_3','max_glu_serum':'glucose_test','A1Cresult':'A1Ctest','change':'change','diabetesMed':'diabetes_med','readmitted':'readmitted'}, axis=1)
hospitals_readmissions['column name'] = df['column name'].replace(['old value'], 'new value')

SyntaxError: ignored